<h1>Update <%= @album.name() %></h1>

<form action="/albums/<%= @album.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="name">Rename album</label>
  <input type="text" name="name" id="name">

  <button type="submit">Update</button>
</form>

<p><a href="/albums">Return to album list</a></p>

<form action="/albums/<%= @album.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">

  <button type="submit">Delete album</button>
</form>
