<h1>Add a new album</h1>

<form action="/albums" method="post">
  <div class="form-group">
    <label for="album_name">Album name</label>
    <input type="text" name="album_name" id="n" class="form-control">
    <label for="album_artist">Artist</label>
    <input type="text" name="album_artist" id="n1" class="form-control">
    <label for="album_genre">Genre</label>
    <input type="text" name="album_genre" id="n2" class="form-control">
    <label for="album_year">Year</label>
    <input type="text" name="album_year" id="n3" class="form-control">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
